extend layout
block content
	.hello
		| hello Welcome to HN scraper
	ul.article_list(style="display:none;")
		each article,i in urls
			p
				a(href=article.url,style="width:100%;",id="article_"+i)= article.title
	
	p.article_holder
	script
		$(function(){
		
		function loader(urlNum){
			if(urlNum > -1 && urlNum<30){
			$('.article_holder').empty();
			$('.tempCSS').remove();
			var url = $('.article_list #article_'+urlNum).attr('href');
			var title = $('.article_list #article_'+urlNum).text();
			$('.ladengif').show()
			$('.title-for-HN').text(title);
			$.ajax({
				url:'/gethtml',
				data:{url:url},
				type:'post',
				success:function(data){
					//console.log(data);
					
					$.each(data.css, function(i,link){
						$('head').append('<link class="tempCSS" href="'+link+'" rel="stylesheet">');
					})
					$('.article_holder').append(data.htmldata)
						
					$('.modal-backdrop').hide();
					$('.ladengif').hide();
					
				}


				})
			}
		}
		var currenturl = 0;
		loader(currenturl);
		$('body').delegate('.next-hn','click',function(){
			currenturl++;
			loader(currenturl);
		});
		
		$('body').delegate('.previous-hn','click',function(){
			currenturl--;
			loader(currenturl);
		});
		})
