extend layout
block content
	//.hello
		| hello Welcome to HN scraper
	ul.article_list(style="display:none;")
		each article,i in urls
			p
				a(href=article.url,style="width:100%;",id="article_"+i)= article.title
	
	.list_of_frames
	
	script(src="scripts/iframeloader.js")
