!!!5
html
	head
		title #{title} - NODESITE
		link( href="/bootstrap/css/bootstrap.css", rel="stylesheet")
		link(rel='stylesheet',href='/stylesheets/style.css')
		script(src="/scripts/jquery-2.0.0.min.js")
		
	body
		.container
			nav.navbar.navbar-default.navbar-fixed-top
				.navbar-header(style="margin:0 auto;z-index:1000000;")
					.container
						ul.nav.navbar-nav.pull-right
							a.btn.btn-info.previous-hn Previous
							
							li.ladengif(style="display:none;")
								img(src="images/loader.gif")
							a.btn.btn-primary.next-hn Next
						ul.nav.navbar-nav(style="	")
							li.title-for-HN
								a HN Scraper
						
		//.container

			.main-content

		block content
